@mixin button($color-one, $color_two) {
  font-family: sans-serif;
  font-weight: bold;
  background-color: $color_two;
  color: $color-one;
  border: 3px solid $color-one;
  transition: all 0.5s ease;
  &:hover {
    color: $color_two;
    background-color: $color-one;
    cursor: pointer;
  }
}
@mixin input($width) {
  height: 40%;
  max-height: 1.75em;
  font-size: 1.25rem;
  width: $width;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  border-radius: 10px;
  border: 2px solid gray;
}
